<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<table width="100%" border="0" cellpadding="3" cellspacing="0" style="border-bottom:1px solid #000000;">
			<tbody>
				<tr>
					<td width="20%" align="center" valign="top">
						<img src="[LOGO]" width="90px">
					</td>
					<td width="80%" valign="top" align="left" valign="center">
						<br>
						<h1 style="line-height: 5em;">[SCHOOL_NAME]</h1>
						<p>[SCHOOL_STREET_ADDRESS]<br>
						Telp : [SCHOOL_PHONE] &sdot; Fax : [SCHOOL_FAX] &sdot; Kode Pos : [SCHOOL_POSTAL_CODE]<br>
						Email : [SCHOOL_EMAIL] &sdot; Website : [SCHOOL_WEBSITE]</p>
					</td>
				</tr>
			</tbody>
		</table>
		<h3>[TITLE]</h3>
		<table width="100%" border="0" cellpadding="3" cellspacing="0">
			<tbody>
				<tr>
					<td width="19%" align="left">Tahun Pelajaran</td>
					<td width="2%" align="center">:</td>
					<td width="29%" align="left">[ADMISSION_SEMESTER]</td>
					<td width="19%" align="left">Tanggal</td>
					<td width="2%" align="center">:</td>
					<td width="29%" align="left">[EXAM_DATE]</td>
				</tr>
				<tr>
					<td align="left">Jalur Pendaftaran</td>
					<td align="center">:</td>
					<td align="left">[ADMISSION_TYPE]</td>
					<td align="left">Waktu</td>
					<td align="center">:</td>
					<td align="left">[EXAM_TIME]</td>
				</tr>
				<tr>
					<td align="left">Mata Pelajaran</td>
					<td align="center">:</td>
					<td align="left">[SUBJECT_NAME]</td>
					<td align="left">Lokasi</td>
					<td align="center">:</td>
					<td align="left">[EXAM_LOCATION]</td>
				</tr>
				<tr>
					<td align="left">[MAJOR_LABEL]</td>
					<td align="center">[MAJOR_SEPARATOR]</td>
					<td align="left">[MAJOR_NAME]</td>
					<td align="left">Jumlah Peserta</td>
					<td align="center">:</td>
					<td align="left">[COUNT]</td>
				</tr>
			</tbody>
		</table>
		<br><br>
		<table width="100%" border="1" cellpadding="5" cellspacing="0" style="border-bottom: none;">
			<tbody>
				<tr>
					<th width="8%"><b>NO.</b></th>
					<th width="20%"><b>NO. DAFTAR</b></th>
					<th width="42%"><b>NAMA LENGKAP</b></th>
					<th width="15%"><b>TTD</b></th>
					<th width="15%"><b>NILAI</b></th>
				</tr>
			</tbody>
		</table>
		[STUDENTS]
	</body>
</html>