<style type="text/css">
	* {
		font-size: 10px;
	}
	h1 {
		font-size: 12px;
	}
	h1 small {
		font-size: 10px;
	}
	table.schedule {
		font-size: 10px;
	}
</style>
<table border="1" cellpadding="10" cellspacing="0" width="100%">
	<tr>
		<td width="50%" valign="top">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-bottom:1px solid #000000;">
				<tr>
					<td width="20%" align="center" valign="top" align="left">
						<img src="[LOGO]" width="50px">
					</td>
					<td width="80%" valign="center" align="left" valign="center">
						<h1>[SCHOOL_NAME]
						<br>
						<small style="font-weight: normal;">[SCHOOL_STREET_ADDRESS]<br>
							Telp : [SCHOOL_PHONE] &sdot; Fax : [SCHOOL_FAX]
						</small>
						</h1>
					</td>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<th colspan="3">&nbsp;</th>
				</tr>
				<tr>
					<th colspan="3"><b>KARTU PESERTA UJIAN TES TULIS</b></th>
				</tr>
				<tr>
					<th colspan="3"><b>PENERIMAAN [STUDENT_TYPE] BARU TAHUN [YEAR]</b></th>
				</tr>
				<tr>
					<th colspan="3">&nbsp;</th>
				</tr>
				<tr>
					<td width="35%" align="left">Nomor Pendaftaran</td>
					<td width="5%" align="left">:</td>
					<td width="60%" align="left">[REGISTRATION_NUMBER]</td>
				</tr>
				<tr>
					<td align="left">Nama Lengkap</td>
					<td align="left">:</td>
					<td align="left">[FULL_NAME]</td>
				</tr>
				<tr>
					<td align="left">Jenis Kelamin</td>
					<td align="left">:</td>
					<td align="left">[GENDER]</td>
				</tr>
				<tr>
					<td align="left">Tempat, Tanggal Lahir</td>
					<td align="left">:</td>
					<td align="left">[TTL]</td>
				</tr>
				<tr>
					<td colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<td rowspan="6" align="center">
						[FOTO]
					</td>
					<td align="right" colspan="2">[FOOTER_DATE]</td>
				</tr>
				<tr>
					<td align="right" colspan="2">Kepala Sekolah</td>
				</tr>
				<tr>
					<td colspan="2">&nbsp;</td>
				</tr>
				<tr>
					<td colspan="2">&nbsp;</td>
				</tr>
				<tr>
					<td colspan="2">&nbsp;</td>
				</tr>
				<tr>
					<td align="right" colspan="2">[HEADMASTER]</td>
				</tr>
			</table>
		</td>
		<td width="50%" valign="top">
			<h2>JADWAL UJIAN TES TULIS<br>PENERIMAAN [STUDENT_TYPE] BARU TAHUN [YEAR]</h2>
			<table class="schedule" border="1" cellpadding="5" cellspacing="0" width="100%">
				<tr>
					<th><b>Tanggal</b></th>
					<th><b>Waktu</b></th>
					<th><b>Mapel</b></th>
					<th><b>Tempat</b></th>
				</tr>
				[SCHEDULES]
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="left">
		Catatan :
		<br>
			1. Selama ujian Kartu Peserta Ujian harus dibawa.<br>
			2. Pengumuman hasil seleksi PPDB tanggal [ANNOUNCEMENT_START_DATE] s.d [ANNOUNCEMENT_END_DATE] melalui website [WEBSITE].
		</td>
	</tr>
</table>
.......................................................................................................................................................................................................................................